@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none;
}

.navigation {
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28527a;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  color: #fafafa;
}

.button {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #fafafa;
  background-color: #f0a500;
  width: 100px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
}
.button--form {
  width: 100%;
  background-color: #55a5f0;
}
.button--log-out {
  background-color: #fafafa;
  color: #333333;
  border: 2px solid #55a5f0;
  margin: 0 auto;
}

.intro {
  text-align: center;
}
.intro__heading {
  color: #28527a;
  font-size: 50px;
}
.intro__sub-heading {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  margin: 20px 0;
}
.intro__button {
  margin: 0 auto;
}

.wave {
  vertical-align: top;
}

.form {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.form__input {
  margin-bottom: 20px;
}

.footer {
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28527a;
}
.footer__item {
  color: #fafafa;
}

.header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 50vh;
  background-color: #28527a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  height: 40vh;
  margin-bottom: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}